body {
  font-family: Arial, sans-serif;
  background-color:lightgray;
}

h1 {
  color:darkred;
}

h2 {
    color:darkred;
}

p {
  font-size: 10px;
  line-height: 1.5;
  color:black;
  font-size:smaller;
}

#intro {
    color:darkolivegreen;
}

.note {
    color:darkseagreen;
}
